:root {
  --text-color: #434455;
  --title-text-color: #2e2f42;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --primary-accent-color: #e7e9fc;
  --primary-bg-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

/* ============= COPMPONENTS ======================= */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.h2-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--title-text-color);
}

.h3-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

/* ===============COMPONENTS====================== */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */

.header-padding {
  padding-top: 24px;
  padding-bottom: 24px;

  display: flex;
}

.nav {
  display: flex;
}


.nav li {
  outline: solid turquoise;
  margin-right: 40px;

}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-brand-color);
}

.color {
  color: #2e2f42;
}

.menu{
  display: flex;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}

.address {
  font-style: normal;
}

.address-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state-color);
}

/* Section HERO */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  margin-top: 0;
  margin-bottom: 48px;

  color: #ffffff;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  align-items: center;
  border-radius: 4px;

  color: #ffffff;
  background-color: var(--primary-brand-color);
}

/* Section ADVANTAGES */

.adv-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.adv-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-top: 0;
  margin-bottom: 8px;

  color: var(--title-text-color);
}

.text-padding {
  margin-top: 0;
  margin-bottom: 0;
}

/* Section WORK */

.work-padding {
  padding-top: 0;
  padding-bottom: 120px;
}

.work-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 72px;

  color: #2e2f42;
}

/* Section  TEAM*/

.team-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 72px;

  color: #2e2f42;
}

.team-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-top: 0;
  margin-bottom: 0px;

  color: #2e2f42;
}

.team-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-top: 0;
  margin-bottom: 0;

  color: #434455;
}

/* Footer */

.footer-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-brand-color);
}

.footer-color {
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* -------PORTFOLIO PAGE--------- */

/* Filter */

.padding {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  margin-top: 0;
  margin-bottom: 72px;
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  color: var(--primary-brand-color);
}

.filter-button:hover,
.filter-button:focus {
  color: #e7e9fc;
  background-color: var(--primary-brand-color);
}

/* Works list */

.works-item-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-top: 32;
  margin-bottom: 8px;

  color: #2e2f42;
}

.item-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-top: 0;
  margin-bottom: 0;
  
  color: #434455;
}
